<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="init"		value="http://dbagent.cdn.imgo.tv/ndas/NodeResMonServerInit"/>
    <add key="get"		value="http://dbagent.cdn.imgo.tv/ndas/NodeResMonGetList"/>
    <add key="report"		value="http://dbagent.cdn.imgo.tv/ndas/NodeResMonReport"/>
    <add key="servegoal"	value="2"/>
    <add key="refresh"		value="5"/>
    <add key="looptimes"	value="-1"/>
    
  </appSettings>
</configuration>
